@import "variable";

.follow {
  .follow__item:first-of-type {
    margin-top: 50px;
  }
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 30px;
}

.follow__item {
  margin-top: 32px;
  display: flex;
  gap: 20px;
}

.follow__right {
  align-self: center;
}

.follow__avatar {
  width: 40px;
  height: 40px;
}
.follow__account {
  color: $color-black;
}
