@import "variable";

.head {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}

.head__item {
  flex: 1;
}

.head__title {
  text-align: center;
}

.head__item--right {
  text-align: right;
}

.head__link {
  color: $color-light-gray;
}



.head__link--blue {
  color: $color-blue;
}

.head__link--right {
  text-align: right;
}

.head__title {
  font-size: 16px;
}
